<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MusicPro</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="resources/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="resources/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="resources/css/slick-theme.css" />
	<link type="text/css" rel="stylesheet" href="resources/css/nouislider.min.css" />
	<link rel="stylesheet" href="resources/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="resources/css/style.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
	<!--SCRIPT JS-->
	<script defer src="resources/js/jquery.min.js"></script>
	<script defer src="resources/js/bootstrap.min.js"></script>
	<script defer src="resources/js/slick.min.js"></script>
	<script defer src="resources/js/nouislider.min.js"></script>
	<script defer src="resources/js/jquery.zoom.min.js"></script>
	<script defer src="resources/js/main.js"></script>
	<script defer src="resources/js/script.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
	<!--/SCRIPT JS-->
</head>

<body>
	<header>
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +56964409666</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> contactomusicpro@musicpro.cl</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> Providencia, Santiago. Chile</a></li>
				</ul>
				<ul class="header-links pull-right">
					<% if (login) { %>
						<li><a href="/index"><i class="fa fa-user-o"></i>
								<%= name %>
							</a></li>
						<li><a href="/logout"><i class="fa fa-user-o"></i>Cerrar Sesión</a></li>
						<% } else { %>
							<li><a href="/login"><i class="fa fa-user-o"></i>
									<%= name %>
								</a></li>
							<% } %>
				</ul>
			</div>
		</div>
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" style="display: flex !important; justify-content: space-between;">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/" class="logo">
								MusicPro
							</a>
						</div>
					</div>
					<!-- /LOGO -->
					<div class="col-md-3">

					</div>
					<!-- ACCOUNT -->
					<div class="col-md-3">
						<div class="header-ctn" style="display: flex !important; justify-content: flex-end;">
							<!-- Cart -->
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-shopping-cart"></i>
									<span>Mi Carrito</span>
									<div class="qty">0</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list" id="carritoItems">
									</div>
									<div class="cart-summary">
										<small>3 Item(s) selected</small>
										<h5>SUBTOTAL: $</h5>
									</div>
									<div class="cart-btns">
										<a href="/checkout-user">Pagar<i class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>
							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="#">Inicio</a></li>
					<li><a href="#electricos">Electricos</a></li>
					<li><a href="#percusion">Percusion</a></li>
					<li><a href="#pianos">Pianos y teclados</a></li>
					<li><a href="#viento">Viento</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- Seccion Electricos -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title" id="electricos">Electricos</h3>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									<% electricos.forEach(function(producto) { %>
										<div class="product">
											<div class="product-img">
												<img src="<%= producto.imagen %>" alt="">
												<div class="product-label">
													<span class="new">Nuevo</span>
												</div>
											</div>

											<div class="product-body">
												<p class="product-category">
													<%= producto.categoria %>
												</p>
												<h3 class="product-name"><a href="#">
														<%= producto.descripcion %>
													</a></h3>
												<h4 class="product-price">$<%= producto.precio %>
												</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
											<div class="add-to-cart">
												<button
													onclick="agregarAlCarrito('<%= producto.referencia %>','<%= producto.descripcion %>', '<%= producto.precio %>','<%= producto.imagen %>')"
													class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Añadir al
													carrito</button>
											</div>
										</div>
										<% }); %>

											<!-- /product -->
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
			</div>
			<!-- Seccion Percusion -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title" id="percusion">Percusión</h3>
				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="section">
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									<% percusion.forEach(function(producto) { %>
										<div class="product">
											<div class="product-img">
												<img src="<%= producto.imagen %>" alt="">
												<div class="product-label">
													<span class="new">Nuevo</span>
												</div>
											</div>

											<div class="product-body">
												<p class="product-category">
													<%= producto.categoria %>
												</p>
												<h3 class="product-name"><a href="#">
														<%= producto.descripcion %>
													</a></h3>
												<h4 class="product-price">$<%= producto.precio %>
												</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"
													onclick="agregarAlCarrito('<%= producto.referencia %>','<%= producto.descripcion %>', '<%= producto.precio %>','<%= producto.imagen %>')"><i
														class="fa fa-shopping-cart"></i>Añadir al carrito</button>
											</div>
										</div>
										<% }); %>

											<!-- /product -->
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
			</div>
			<!-- Seccion Pianos y teclados -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title" id="pianos">Pianos y Teclados</h3>
				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="section">
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									<% pianos.forEach(function(producto) { %>
										<div class="product">
											<div class="product-img">
												<img src="<%= producto.imagen %>" alt="">
												<div class="product-label">
													<span class="new">Nuevo</span>
												</div>
											</div>

											<div class="product-body">
												<p class="product-category">
													<%= producto.categoria %>
												</p>
												<h3 class="product-name"><a href="#">
														<%= producto.descripcion %>
													</a></h3>
												<h4 class="product-price">$<%= producto.precio %>
												</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"
													onclick="agregarAlCarrito('<%= producto.referencia %>','<%= producto.descripcion %>', '<%= producto.precio %>','<%= producto.imagen %>')"><i
														class="fa fa-shopping-cart"></i>Añadir al
													carrito</button>
											</div>
										</div>
										<% }); %>

											<!-- /product -->
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
			</div>
			<!-- Seccion vientos -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title" id="viento">Viento</h3>
				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="section">
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									<% viento.forEach(function(producto) { %>
										<div class="product">
											<div class="product-img">
												<img src="<%= producto.imagen %>" alt="">
												<div class="product-label">
													<span class="new">Nuevo</span>
												</div>
											</div>

											<div class="product-body">
												<p class="product-category">
													<%= producto.categoria %>
												</p>
												<h3 class="product-name"><a href="#">
														<%= producto.descripcion %>
													</a></h3>
												<h4 class="product-price">$<%= producto.precio %>
												</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"
													onclick="agregarAlCarrito('<%= producto.referencia %>','<%= producto.descripcion %>', '<%= producto.precio %>','<%= producto.imagen %>')"><i
														class="fa fa-shopping-cart"></i>Añadir al
													carrito</button>
											</div>
										</div>
										<% }); %>

											<!-- /product -->
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<h1>Conversor de Moneda</h1>

							<label for="totalPesos">Total en Pesos Chilenos:</label>
							<input class="input-number" type="number" id="totalPesos" placeholder="Ingrese el total en pesos chilenos"
								step="1">
							<br>
							<button onclick="convertirAPesosChilenos()" class="primary-btn">Convertir</button>
							<br>
							<label id="resultado"></label>

							<script>
								function convertirAPesosChilenos() {
									var totalPesosInput = document.getElementById("totalPesos");
									var totalPesosChilenos = parseFloat(totalPesosInput.value);

									if (isNaN(totalPesosChilenos)) {
										alert("Por favor, ingrese un número válido en pesos chilenos.");
										return;
									}

									var apiUrl = "https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?user=208800264&pass=OduHKwAEiLqM&firstdate=2023-06-09&timeseries=F073.TCO.PRE.Z.D";

									fetch(apiUrl)
										.then(response => response.json())
										.then(data => {
											var tipoCambio = parseFloat(data.Series.Obs[0].value);
											var totalDolares = totalPesosChilenos / tipoCambio;
											document.getElementById("resultado").textContent = "Total en dólares: $" + totalDolares.toFixed(2);
										})
										.catch(error => {
											console.error("Error al obtener el tipo de cambio:", error);
										});
								}
							</script>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->
		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre nosotros</h3>
								<p>La industria de fabricación de instrumentos musicales de distintos géneros musicales
									el cual necesitan una
									gran variedad de instrumentos y accesorios de estos tales como guitarras, bajos,
									tambores, baterías, trompetas, pianos, teclados, etc.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-phone"></i> +56964409666</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i> contactomusicpro@musicpro.cl</a>
									</li>
									<li><a href="#"><i class="fa fa-map-marker"></i> Providencia, Santiago. Chile</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="#">Ofertas</a></li>
									<li><a href="#">Electricos</a></li>
									<li><a href="#">Percusion</a></li>
									<li><a href="#">Pianos y teclados</a></li>
									<li><a href="#">Viento</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Información</h3>
								<ul class="footer-links">
									<li><a href="#">Sobre Nosotros</a></li>
									<li><a href="#">Contactanos</a></li>
									<li><a href="#">Politica de privacidad</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicio</h3>
								<ul class="footer-links">
									<li><a href="#">Mi Cuenta</a></li>
									<li><a href="#">Ver mi carrito</a></li>
									<li><a href="#">Favoritos</a></li>
									<li><a href="#">Ayuda</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved |
								This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
									href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
		<!-- jQuery Plugins -->

</body>

</html>